div.ag-theme-alpine div.ag-row {
  font-size: x-small;
}

div.ag-theme-alpine ag-cell {
  white-space: break-spaces;
}

.marketActivityMain {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5px;
}



.agGrid {
  height: 250px;
  width: 100%;
  color: #16518d;
}

.mainMultiselectActivity {
  flex-grow: 1;
  padding: 5px;
}

.marketActivitiyViews {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  margin-bottom: 2px;
  align-items: center;
}

.marketActivitiyChart {
  height: 100%;
  width: 100%;
}

.marketActivityChartContainer {
  height: calc(100% - 25px);
  width: 100%;
}