.bondChartMain {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  padding: 5px;
  overflow: hidden;
}

.bondChart {
  overflow: hidden;
  height: 100%;
}