.enterInterestMain {
  position: fixed;
  top: 400px;
  left: 400px;
  z-index: 50;
}

.enterInterestForm {
  row-gap: 6px;
  display: flex;
  flex-direction: column;
  font-size: x-small;
  background-color: rgb(238, 238, 238);
  padding: 20px;
}

.enterInterestMain input {
  font-size: x-small;
}

.interestLabel {
  width: 120px;
}

.interestLabelShort {
  width: 10px;
}

.interestGroup {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}

.enterInterestMain input {
  width: 120px;
  border-radius: 4px;
  margin-right: 4px;
  margin-left: 4px;
  padding: 2px;
}